[user]
name = jagt
email = jagt@live.com
[color]
ui = true
[log]
abbrevCommit = true
[format]
pretty = oneline
[alias]
ci = commit
st = status
cached = diff --cached
[core]
	autocrlf = input
[push]
	default = simple
